@import url('https://fonts.googleapis.com/css?family=Gabriela|Rajdhani&display=swap');


/*     HOME PAGE     */

#front-image {
    background: url("../images/torreDeBelem.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: 0px;
}

#title {
    height: 20%;
}

#heading {
    font-family: "Gabriela", sans-serif;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 150px;
}

#navigate {
    height: 80%;
    display: table;
    width: 100%;
}

#bottom {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 150px;
}

#btn1,
#btn2,
#btn3 {
    background-color: rgba(210, 215, 211, 0.7);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

#btn2 {
    margin-right: 10%;
    margin-left: 10%;
}

#btn1 a,
#btn2 a,
#btn3 a {
    text-decoration: none;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}


/*     NORTH, CENTER AND SOUTH PAGES     */

#header {
    height: 20%;
    background-color: rgba(197, 239, 247, 0.5)
}

#title-small {
    height: 60%;
}

#heading-smaller {
    font-family: "Gabriela", sans-serif;
    font-size: 25px;
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 25px;
}

#navigate2 {
    height: 40%;
    padding-top: 10px;
}

#places {
    height: 700px;
}

#map-container {
    padding-left: 20%;
    padding-right: 5%;
    padding-top: 25px;
}

#map {
    background-color: yellow;
    height: 70%;
    width: 100%;
}

#interests {
    text-align: center;
    padding-top: 25px;
}

#legend {
    padding-top: 25px;
}

#legend p {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    line-height: 50px;
}

#choice {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-weight: bold;
    line-height: 50px;
}

#map-btn1,
#map-btn2,
#map-btn3,
#map-btn4 {
    background-color: rgba(210, 215, 211, 0.7);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#map-btn2 {
    margin-right: 5%;
    margin-left: 5%;
}

#map-btn3 {
    margin-right: 5%;
}

#place1,
#place2,
#place3,
#place4,
#place5,
#place6 {
    padding-left: 5%;
}

#place_name {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 30px;
    border-bottom: solid 1px black;
    display: inline-block;
}

#info,
#picture {
    padding-top: 15px;
    padding-bottom: 15px;
}

#info p {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-size: 20px;
}

#picture {
    padding-right: 15px;
}

#placephoto {
    background-position: center;
    background-size: contain;
    width: 100%;
}