@import url('https://fonts.googleapis.com/css?family=Gabriela|Rajdhani&display=swap');


/*     HOME PAGE     */

#front-image {
    background: url("../images/torreDeBelem.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 0px;
}

#title {
    height: 20%;
}

#heading {
    font-family: "Gabriela", sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 60px;
    color: white;
}

#arrow-container {
    height: 80%;
    display: table;
    width: 100%;
}

#down {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 30px;
    width: 100%;
}

#arrow {
    border: solid white;
    width: 50px;
    height: 50px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#headingabout {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 30px;
    border-bottom: solid 1px black;
    display: inline-block;
    padding: 30px 50px 5px;
    margin: auto;
}

.options {
    border: none;
    border-radius: 10px;
    background-color: rgba(210, 215, 211, 0.5);
    margin-top: 25px;
    margin-right: 0;
    text-align: right;
}

#btn1-index,
#btn2-index,
#btn3-index {
    border: none;
    padding: 10px;
    text-decoration: none;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    background-color: transparent;
}

#btn1-index:focus,
#btn2-index:focus,
#btn3-index:focus {
    outline:0 !important;
}

.underline {
    border-bottom: solid 1px black;
}

.data {
    margin-left: 15px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background-color: rgba(210, 215, 211, 0.5);
}

#basics,
#regions,
#accessibility {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    margin: 0 auto;
    padding-top: 10px; 
}

#navigation {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

#whereto {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    margin: 0 auto;
}

#navigate {
    width: 100%;
    padding-top: 15px;
    justify-content: center;
}

#btn1,
#btn2,
#btn3 {
    background-color: rgba(210, 215, 211, 0.5);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

#btn2 {
    margin-right: 10%;
    margin-left: 10%;
}

#btn1 a,
#btn2 a,
#btn3 a {
    text-decoration: none;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}


/*     NORTH, CENTER AND SOUTH PAGES     */

/* Images */

#picturegeres {
    padding-right: 15px;
    background-image: url("../images/geres.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#pictureserraestrela {
    padding-right: 15px;
    background-image: url("../images/serraDaEstrela.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#pictureporto {
    padding-right: 15px;
    background-image: url("../images/porto.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#pictureaveiro {
    padding-right: 15px;
    background-image: url("../images/aveiro.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturecostanova {
    padding-right: 15px;
    background-image: url("../images/costaNova.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturemoledo {
    padding-right: 15px;
    background-image: url("../images/praiaDoMoledo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturecandeeiros {
    padding-right: 15px;
    background-image: url("../images/serraDeAire.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturearrabida {
    padding-right: 15px;
    background-image: url("../images/arrabida.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturelisbon {
    padding-right: 15px;
    background-image: url("../images/lisboa.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturesintra {
    padding-right: 15px;
    background-image: url("../images/palacioDaPena.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturetomar {
    padding-right: 15px;
    background-image: url("../images/tomarConvento.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturenazare {
    padding-right: 15px;
    background-image: url("../images/nazare.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturesesimbra {
    padding-right: 15px;
    background-image: url("../images/sesimbra.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturecostavicentina {
    padding-right: 15px;
    background-image: url("../images/costaVicentina.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#pictureguadiana {
    padding-right: 15px;
    background-image: url("../images/valeGuadiana.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#pictureevora {
    padding-right: 15px;
    background-image: url("../images/evora.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturetavira {
    padding-right: 15px;
    background-image: url("../images/tavira.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturealmograve {
    padding-right: 15px;
    background-image: url("../images/praiaDeAlmograve.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#picturemarinha {
    padding-right: 15px;
    background-image: url("../images/praiaDaMarinha.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/* Header */

#header {
    height: 120px;
}

.navbar {
    height: 120px;
    width: 100%;
    padding: 35px 10px;
    top: 0;
    background-color: rgba(170, 210, 223, 1);
}

.navbar-toggler {
    border: transparent;
    padding: 4px 0px;
}

.nav-container {
    height: 100%;
}

.heading-smaller {
    font-family: "Gabriela", sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    padding-left: 5%;
    margin: 0;
}

.navbar-collapse {
    width: 100%;
    padding-right: 5%;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    text-decoration: none;
    font-family: "Rajdhani", sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    z-index: 10000000;
}

/* Body */

#places {
    padding-left: 5%;
    padding-right: 5%;
}

#map-container {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 670px;
}

#description {
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-flow: column;
}

#magazinequote {
    order: 1;
}

#interests {
    text-align: center;
    padding-top: 25px;
    order: 2;
}

#legend {
    padding-top: 25px;
}

#legend p {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    line-height: 50px;
}

#choice {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-size: 18px;
    margin-bottom: 0;
}

#map-btn1,
#map-btn2,
#map-btn3,
#map-btn4 {
    background-color: rgba(210, 215, 211, 0.9);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 5%;
}

#map-btn2 {
    margin-right: 5%;
    margin-left: 5%;
}

#map-btn3 {
    margin-right: 5%;
}

#map-btn1:focus,
#map-btn2:focus,
#map-btn3:focus,
#map-btn4:focus {
    outline:0 !important;
    background-color: rgba(210, 215, 211, .5);
}

#place1,
#place2,
#place3,
#place4,
#place5,
#place6,
#place7 {
    padding-left: 5%;
    padding-right: 5%;
}

#place6 {
    padding-bottom: 15px;
}

#place {
    padding-top: 30px;
    padding-bottom: 15px;
}

#place_name {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 30px;
    border-bottom: solid 1px black;
    display: inline-block;
}

#info {
    padding-left: 15px;
}

#quote {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-size: 20px;
    font-style: italic;
}

#source {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-size: 15px;
    text-align: right;
    margin-bottom: 0;
}

#tips {
    font-family: "Rajdhani", sans-serif;
    color: black;
    font-size: 16px;
    margin-bottom: 0;
}

#tips i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    background-color: rgba(210, 215, 211, 0.7);
    margin-top: 8px;
}

#source a {
    text-decoration: none;
    color: grey;
}

.hidden {
    display: none;
}

/*     MEDIA QUERIES     */

@media (max-width: 991px){ /* Big screens */

    /* Places */
    #picture {
        padding-right: 0px;
    }
}

@media (min-width: 541px) and (max-width: 1024px){ /* Tablets and smaller computers */

    /* Index Page */
    #heading {
        padding-top: 60px;
    }

    /* Header */
    .navbar-collapse {
        display: flex;
    }
    .navbar-nav {
        padding: 0px;
        height: 100%;
        display: flex;
    }
    .nav-item {
        background-color: rgba(170, 210, 223, 1);
        padding-right: 10px;
        text-align: right;
    }
}

@media (max-width: 540px){ /* Phones */
    
    /* Index Page */
    #heading {
        font-size: 35px;
        padding-top: 35px;
    }
    #bottom {
        padding-bottom: 50px;
    }
    #btn1,
    #btn2,
    #btn3 {
        padding: 5px;
    }
    #btn1 {
        margin-left: 5%;
    }
    #btn3 {
        margin-right: 5%;
    }
    #btn2 {
        margin-right: 3%;
        margin-left: 3%;
    }
    #btn1 a,
    #btn2 a,
    #btn3 a {
        font-size: 15px;
    }
    
    /* Header */
    #header {
        height: 80px;
    }
    .navbar {
        height: 80px;
        padding: 25px 10px;
    }
    .heading-smaller {
        font-size: 17px;
    }
    .navbar-collapse {
        display: flex;
    }
    .navbar-nav {
        padding: 0px;
        height: 100%;
        display: flex;
    }
    .nav-item {
        background-color: rgba(170, 210, 223, 1);
        padding-right: 10px;
        text-align: right;
        font-size: 20px;
    }
    
    /* Map and Interests */
    #map {
        height: 350px;
        min-height: 350px;
    }
    #description {
        padding-top: 15px;
    }
    #map-btn1,
    #map-btn2,
    #map-btn3,
    #map-btn4 {
        font-size: 15px;
    }
}

@media (max-width: 991px){ /* Point where Map-Container and Description divs or PictureX and Info divs stop beeing side-by-side*/
    #magazinequote {
        order: 2;
        padding-top: 25px;
    }
    #interests {
        order: 1;
        padding-top: 0;
    }
    #picturegeres,
    #pictureserraestrela,
    #pictureporto,
    #pictureaveiro,
    #picturecostanova,
    #picturemoledo,
    #picturecandeeiros,
    #picturearrabida,
    #picturelisbon,
    #picturesintra,
    #picturetomar,
    #picturenazare,
    #picturesesimbra,
    #picturecostavicentina,
    #pictureguadiana,
    #pictureevora,
    #picturetavira,
    #picturealmograve,
    #picturemarinha {
        width: 100%;
        height: 400px;
    }
    #info {
        padding-top: 15px;
    }
}

@media (min-width: 541px) and (max-width: 991px){ /* Tablets and until the point where Map-Container and Description divs or PictureX and Info divs stop beeing side-by-side*/
    #map {
    height: 670px;
    }   
}

@media (max-width: 575px) { /* Breakpoint for options and data board on the Index page*/
    .options,
    .data {
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }
    #whereto {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
}